* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: wheat;
  font-family: Roboto, sans-serif;
  overflow-x: hidden; /* x-axis hiddem; */
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  list-style: none;
}
.logo img {
  max-height: 28px;
}

.Nav1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.Nav1 ul {
  position: relative;
  padding-right: 375px;
  overflow: hidden;
  display: flex;
}

.Nav1 li {
  margin-right: 20px;
  text-align: center;
}

.Nav1 ul li {
  list-style-type: none;
  font-size: 15px;
}

.Nav1 ul li a {
  text-decoration: none;
  color: rgb(161, 165, 199);
  text-align: center;
  text-decoration: none;
  padding: 0 5px;
  margin: 0;
}

.Nav1 ul li a:hover {
  background-color: rgb(209, 213, 226);
}

.Businesss {
  background-color: white;
  color: rgb(112, 140, 221);
  padding: 6px 35px;
  border-radius: 40px;
  cursor: pointer;
  border: 1px solid;
  position: absolute;
  margin-left: 800px;
}

.Businesss a {
  text-decoration: none;
}
.btn:hover {
  background-color: rgb(209, 213, 226);
}

.videoo video {
  position: absolute;
  display: flex;
}

.fa-viber {
  font-size: 65px;
  position: absolute;
  transform: translate(-50% -50%);
  cursor: pointer;
  color: white;
  left: 140px;
  top: 170px;
}
.icon h1 {
  position: absolute;
  transform: translate(-50% -50%);
  color: white;
  left: 140px;
  top: 245px;
  line-height: 1.2em;
  font-weight: lighter ;
  font-family: Roboto,sans-serif;
  font-size: 54px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.icon h2 {
  position: absolute;
  transform: translate(-50% -50%);
  color: white;
  font-family: Roboto,sans-serif;
  left: 140px;
  top: 480px;
  line-height: 1.2em;
  font-size: 20px;
}

.Download-button a {
  position: absolute;
  transform: translate(-50% -50%);
  color: white;
  left: 140px;
  top: 520px;
  line-height: 1.2em;
  font-size: 20px;
  width: 240px;
  height: 50px;
  padding-top: 10px;
  background-color: #66b821;
  color: white;
  border-radius: 80px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.pg-h1{
padding-bottom: 100px;
text-align: center;
margin-top: 155px;
}

.pg-h1 h1{ 
color: #323232;
margin-bottom: 20px;
font-weight: 100;
font-size: 44px;
font-family: Roboto,sans-serif;
}

.pg-h1 p{
color:#323232;
font-weight: 200;
font-size: 15px;
font-family: Roboto,sans-serif;
}

.thirdpg{

}

.gif1 img{
  position: absolute;
padding: auto;
left: 13.5%;
}

.gif1 h1{
  font-family: Roboto,sans-serif;
  font-size: 20px;
    padding: 240px 225px 10px;
    color: black;
}

.gif1 p{
  font-family: Roboto,sans-serif;
  font-size: 15px;
  color: #323232;
    padding: 5px 195px 10px;
}


.gif2 img{
  position: absolute;
padding: auto;
left: 35%;
bottom: -102%;

}

.gif2 h1{
  font-family: Roboto,sans-serif;
  font-size: 20px;
    left: 35%;
    color: black;
}

.gif2 p{
  font-family: Roboto,sans-serif;
  font-size: 15px;
  color: #323232;
    
}
