* {
  padding: 0;
  margin: 0;
}
body {
  color: wheat;
  font-family: Roboto, sans-serif;
  overflow-x: hidden; /* x-axis hiddem; */
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.5;
  /* align-items: center;
  justify-content: center; */
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
  list-style: none;
}
.logo img {
  max-height: 28px;
}

.Nav1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.Nav1 ul {
  position: relative;
  padding-right: 375px;
  overflow: hidden;
  display: flex;
}

.Nav1 li {
  margin-right: 20px;
  text-align: center;
}

.Nav1 ul li {
  list-style-type: none;
}

.Nav1 ul li a {
  text-decoration: none;
  color: #888;
  text-align: center;
  text-decoration: none;
  padding: 0 5px;
  margin: 0;
  font-size: 15px;
  font-weight: 300;
}

.Nav1 ul li a:hover {
  color: #323232;
}

.Businesss {
  background-color: white;
  color: rgb(112, 140, 221);
  padding: 6px 35px;
  border-radius: 40px;
  cursor: pointer;
  border: 1px solid;
  position: absolute;
  margin-left: 800px;
}

.Businesss a {
  text-decoration: none;
}

.videoo video {
  position: absolute;
  display: flex;
}

.fa-viber {
  font-size: 65px;
  position: absolute;
  transform: translate(-50% -50%);
  cursor: pointer;
  color: white;
  left: 140px;
  top: 170px;
}
.icon h1 {
  position: absolute;
  transform: translate(-50% -50%);
  color: white;
  left: 140px;
  top: 245px;
  line-height: 1.2em;
  font-weight: 300;
  font-family: Roboto, sans-serif;
  font-size: 54px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.icon h2 {
  position: absolute;
  transform: translate(-50% -50%);
  color: white;
  font-family: Roboto, sans-serif;
  left: 140px;
  top: 480px;
  line-height: 1.2em;
  font-size: 20px;
}

.Download-button a {
  position: absolute;
  transform: translate(-50% -50%);
  color: white;
  left: 140px;
  top: 520px;
  line-height: 1.8em;
  font-size: 20px;
  width: 240px;
  height: 50px;
  padding-top: 10px;
  background-color: #66b821;
  color: white;
  border-radius: 80px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  justify-content: ;
}

.pg-h1 {
  padding-bottom: 100px;
  text-align: center;
  margin-top: 155px;
}

.pg-h1 h1 {
  color: #323232;
  margin-bottom: 20px;
  font-weight: 100;
  font-size: 44px;
  font-family: Roboto, sans-serif;
}

.pg-h1 p {
  color: #323232;
  font-weight: 200;
  font-size: 15px;
  font-family: Roboto, sans-serif;
}

.gif {
  display: flex;
  padding: 0 185px;
}

.img1 h1 {
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 20px;
}

.img2 h1 {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: black;
}

.img3 h1 {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: black;
}

.img4 h1 {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: black;
}

.img1 p {
  font-family: Roboto, sans-serif;
  color: black;
}

.img2 p {
  font-family: Roboto, sans-serif;
  color: black;
}

.img3 p {
  font-family: Roboto, sans-serif;
  color: black;
}

.img4 p {
  font-family: Roboto, sans-serif;
  color: black;
}

.gif p {
  padding: 13px;
  font-size: 14px;
}

.disbtn a {
  text-decoration: none;
  border: 1px solid #665cac;
  color: #665cac;
  border-radius: 30px;
  padding: 10px 28px;
  font-weight: 300;
  font-size: 17px;
  text-align: center;
}

.disbtn {
  text-align: center;
  padding-top: 70px;
}

.pg4 {
  padding: 43px;
  margin-top: 25px;
  background-color: #e6ecf0;
  display: flex;
}

.pg4-1 {
  padding-left: 108px;
}
.pg4-2 {
  padding-left: 110px;
  padding-top: 145px;
  color: #323232;
}

.pg4-2 p {
  padding: 10px 0px 30px 0px;
}

.pg4-2 h2 {
  font-weight: 100;
  font-size: 7dvh;
}

.pg4-2 a {
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid black;
  padding: 14px 25px;
}

.pg5 {
  display: flex;
  padding-top: 50px;
  background-color: #f3f6f8;
}

.pg5-1 {
  /* padding-left: 150px; */
  color: #323232;
}

.pg5-1 h2 {
  padding-top: 144px;
  padding-left: 150px;
  font-size: 44px;
  font-weight: 100;
}

.pg5-1 p {
  font-size: 15px;

  padding: 30px 140px;
}

.pg5-1 a {
  border: 1px solid black;
  border-radius: 40px;
  padding: 13px 45px;
  font-size: 17px;
  text-decoration: none;
}

.pg5-2 {
  padding: 15px 140px;
}

.pg6 {
  padding: 110px;
}

.pg6-1 {
  text-align: center;
}

.pg6-2 {
  text-align: center;
  color: #323232;
}

.pg6-3 {
  text-align: center;
  padding: 30px;
}

.pg6-3 a {
  text-align: center;
  border: 1px solid #66b821;
  border-radius: 40px;
  padding: 15px 41px;
  font-size: 17px;
  color: #e6ecf0;
  text-decoration: none;
  background-color: #66b821;
}


.fot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 10px;
}

.fot-1 {
  padding-left: 190px;
}

.fot-nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.fot-nav ul {
  position: relative;
  display: flex;
  list-style: none;
}

.fot-nav li {
  margin-right: 30px;
  text-align: center;
}

.fot-nav ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #8d8d8d;
  padding: auto;
}

.fot-nav ul li a:hover {
  color: #8074d6;
}
.pg7 {
  padding-top: 24px;
  padding-bottom: 60px;
  display: flex;
  background-color: #574e92;
}

.pg7-1 ul li {
    font-size: 14px;
    color: hsla(0,0%,100%,.3);
    font-weight: 300;
  width: 200px;
  padding-left: 150px;
  list-style: none;
  line-height: 25px;
}

.pg7-1 ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}

.pg7-2 ul li {
  width: 200px;
 
  list-style: none;
  font-size: 14px;
    color: hsla(0,0%,100%,.3);
    line-height: 25px;
    font-weight: 300;
}

.pg7-2 ul{
  padding: 0px 95px 0px 90px;
}
.pg7-2 ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}

.pg7-3 ul{
  padding-right: 140px;
}
.pg7-3 ul li {
  width: 200px;
  list-style: none;
  font-size: 14px;
    color: hsla(0,0%,100%,.3);
    font-weight: 300;
    line-height: 25px;
}

.pg7-3 ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}


.pg7-4 select {
  border: 1px solid hsla(0,0%,100%,.3);
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px;
  font-weight: 100;
  width: 200px;
  background-color: #574e92;
  color:  #fff;
  text-align: center;
  cursor: pointer;
}

.pg7-4 select option{
  color: black;
  background-color:white;
  text-align: left;
}

.pg7-5{
  position: absolute;
  padding-left:78%;
}

.pg7-5 i{
  padding-top: 280px ;
  padding-left: 5px; 
}

.pg7-6{
  position: absolute;
  padding-left:78%;
  padding-top: 300px;
   font-size: 13px;
  font-weight: 300;
  color: #fff;
    font-size: 12px;
}